<section id="header">
  <div class="row">
    <div class="col-md-11 archives-site"><a href="https://archives.barnard.edu"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>archives.barnard.edu</a></div>
    <div class="col-md-1 search-icon"><a href="/public/search?reset=true"><span class="glyphicon glyphicon-search"></span></a></div>
  <div class="row">
    <a href="<%= AppConfig[:public_proxy_url] %>"><img class="logo" src="<%= asset_url(AppConfig[:pui_branding_img]) %>" alt="Barnard Archives" /></a>
  </div>
  <div class="row h1">
    <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>"> <%= t('brand.title') %></a>
  </div>
</section>
